<div class="container">
    <div class="row" id="menu_container">
        <div class="col-3" id="name">
            <a href="#">Rick and Morty</a>
        </div>
        <div class="col-8" id="menu">
            <nav class="nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Characters</a>
                <a class="nav-link" href="#">About</a>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </nav>   
        </div>
    </div>
    <app-characters></app-characters>
</div>