<div class="container container_login mt-5">
    <div class="row row_login">
        <div class="col mb-5">
            <h1>Rick y Morty API</h1>
        </div>
    </div>
    <div class="row">
        <div class="col form_container">
            <form action="">
                <div class="form_input mb-3">
                    <label for="">Usuario</label>
                    <input type="text"/>
                </div>
                <div class="form_input">
                    <label for="">Contraseña</label>
                    <input type="password"/>
                </div>
                <div class="form_button mt-5">
                    <button class="btn btn-primary">Registrarme</button>
                </div>
            </form>
        </div>
    </div>
</div>